@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #e2e8f0;

  --primary: #9333ea;
  --secondary: #4ade80;
  --accent: #c084fc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Geist', sans-serif;
}

/* Custom Gradients */
.bg-gradient-primary {
  background: linear-gradient(to right, #9333ea, #c084fc);
}

.text-gradient-primary {
  background: linear-gradient(to right, #9333ea, #4ade80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9333ea;
}